{% extends "base.html" %}
{% block content %}
<div class="container page-form">
    {% if signuperror %}
    <div class="notification is-error">
        There's an error with your signup. {{ signuperror }}
    </div>
    {% endif %}
    {% if loginerror %}
    <div class=" notification is-error">
        There's an error with your Login. {{ loginerror }}
    </div>
    {% endif %}
    <form id="login-form" class="form" action="/auth/login" method="post">
        <div class="form-group">
            <label for="email" class="form__label">Email</label>
            <input type="text" id="email" class="form__textarea" name="email">
        </div>
        <div class="form-group">
            <label class="form__label" for="password">Password</label>
            <input type="password" id="password" class="form__textarea" name="password">
        </div>

        <button type="submit" class="button btn-success">Log in</button>
    </form>
</div>
{% endblock %}