{% extends "base.html" %}
{% block content %}
<div class="container">
    <form id="new-blog" class="form" action="/blogs/new" method="post">
        <p class="form__input">
            <label for="title" class="form__label">Title</label>
            <input type="text" id="title" class="form__textarea" name="title">
        </p>

        <p class="form__input">
            <label for="description" class="form__label">Description</label>
            <input type="text" id="description" class="form__textarea" name="description">
        </p>

        <button type="submit" class="form__submit btn-success">Create blog</button>
    </form>
</div>
{% endblock %}