{% include 'head.html' %}
<section class="is-fullheight">
  <div class="splashpage-content">
    <div class="container has-text-centered">
      <h1 class="title">
        MicroBlog
      </h1>
      <h2 class="subtitle">
        a mini-bloggin website
      </h2>

      <h3 class="has-text-warning">
        You must log into an account to view this content.
      </h3>
      <hr />
      <br></br>

      <div class="redirects">
        <button class="button">
          <a class="is-info" href="{{ url_for('login_template') }}">log in
          </a>
        </button>
        <button class="button">
          <a class="is-info" href="{{ url_for('register_template') }}">sign up
          </a>
        </button>
      </div>

    </div>
  </div>
</section>